__pycache__/main.cpython-311.pyc
__pycache__/maze.cpython-311.pyc
__pycache__/characters.cpython-311.pyc
__pycache__/guides.cpython-311.pyc
__pycache__/characters.cpython-311.pyc
__pycache__/images.cpython-311.pyc
__pycache__/buttons.cpython-311.pyc
__pycache__/powerups.cpython-311.pyc
__pycache__/music.cpython-311.pyc
